:root {
    --premiumColor: #FF5A5F;
    --secondaryColor: #fff;
    --hoverState: rgba(60, 60, 60, .35);
    --closedState: rgba(238, 107, 107, .51);
    --closed_gray_state: rgba(60, 60, 60, .21);
    --shadow_btn: 0px 20px 50px rgba(60, 60, 60, 0.2);
    --radius_btn: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    overflow-x: hidden;
}
/* PAGE CONTAIN */
.container {
    max-width: 1120px;
    width: 100%;
    margin: 40px auto;
}
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;
}
.menu-icon {
    display: none;
}
.navbar li {
    display: inline-block;
    list-style: none;
    padding: 0 17px;
}
.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.navbar .active {
    background-color: #000;
    color: #fff;
    padding: 7px 18px;
    border-radius: var(--radius_btn);
}
.navbar .counter {
    padding-left: 7px;
    font-size: 12px;
    color: var(--premiumColor);
}
.navbar .log a{
    padding: 18px 48px;
    background-color: var(--premiumColor);
    color: #fff;
    border-radius: var(--radius_btn);
    font-weight: 100;
}
.header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: var(--radius_btn);
}
.header .presentation {
    padding: 68px 0 0 96px;
}
.presentation .head-line {
    color: var(--premiumColor);
}
.presentation .subtitle {
    margin: 27px 0 95px 0;
    color: var(--secondaryColor);
    font-weight: 400;
    line-height: 24px;
}
.presentation .latest-design a{
    background-color: var(--secondaryColor);
    padding: 18px 137px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    line-height: 24px;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: var(--radius_btn);
    box-shadow:  var(--shadow_btn);
    transition: background-color .5s linear;
}
.presentation .latest-design a:hover {
    background-color: var(--premiumColor);
    border: 1px solid var(--secondaryColor);
}
/* LATEST PRODUCTS */
.latest-product {
    margin: 34px 0;
    width: 100%;
}
.latest-product .head-line {
    color: var(--premiumColor);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}
.latest-product .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 29px;
    justify-content: center;
    padding: 25px;
    border-radius: var(--radius_btn);
}
.card-contain {
    display: block;
    width: 318px;
    margin: 0 auto;
    box-shadow: var(--shadow_btn);
    padding: 25px;
}
.card .card-img p,
span {
    padding: 0 25px;
    margin: auto;
}
.card .card-img p {
    display: inline-block;
    font-weight: 900;
}
.card-img span {
    float: right;
    color: var(--premiumColor);
}
.card-title {
    padding: 25px;
}
.card-title p {
    margin: 28px 0;
    line-height: 24px;
}
.card-title a {
    background-color: var(--premiumColor);
    color: var(--secondaryColor);
    text-decoration: none;
    padding: 18px 55px;
    width: 100%;
    border-radius: var(--radius_btn);
}
/* FASHION BODY WEAR */
.fashion {
    background-color: var(--premiumColor);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    border-radius: var(--radius_btn);
    padding: 0 130px;
    line-height: 60px;
}
.fashion-img {
    width: 344px;
    height: auto;
}
.fashion .head-line {
    color: var(--secondaryColor);
    font-size: 30px;
}
.fashion .subtitle {
    font-size: 30px;
}
.fashion .shop-now {
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: var(--radius_btn);
    text-align: center;
    margin-top: 15px;
}
.shop-now a {
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: #000;
    padding: 18px 100px;
}
.shop-now:hover {
    background-color: var(--hoverState);
}
/* RECOMMENDED */
.recommended {
    text-align: center;
    margin: 34px auto;
}
.recommend-head-line {
    font-size: 40px;
    margin-bottom: 48px;
}
.recommend-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recommend-gallery .recommend {
    width: 275px;
}
.recommend p {
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0;
}
/* NEWSLETTER */
.newsletter-contain {
    display: grid;
    grid-template-columns: 70% 30%;
    place-items: center;
    background-color: rgba(229, 229, 229, 0.52);
}
.newsletter .news-img {
    width: 357px;
}
.news-img img {
    margin-top: 25px;
}
.newsletter .news-title {
    background-color: var(--secondaryColor);
    box-shadow: var(--shadow_btn);
    padding: 83px 36px;
    margin-left: 25px;
    margin-right: 12px;
}
.news-title h1 {
    font-size: 36px;
    line-height: 54px;
}
.news-title p {
    line-height: 24px;
    margin: 22px 215px 38px 0;
}
.news-title a {
    background-color: var(--premiumColor);
    border-radius: var(--radius_btn);
    padding: 18px 107px;
    text-decoration: none;
    color: var(--secondaryColor);
    transition: background-color .7s ease-out;
}
.news-title a:hover {
    background-color: var(--hoverState);
}
/* FOOTER */
.footer {
    background-color: rgba(229, 229, 229, 0.52);
    margin-top: 64px;
    padding: 37px 0;
}
.foot-navigator {
    width: 100%;
    max-width: 1122px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 110px;
    margin: 0 auto;
}
.foot-navigator > div {
    width: 100%;
    max-width: 222px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding-bottom: 40px;
}
.foot-navigator li {
    list-style: none;
    padding: 16px 0;
    display: block;
}
.foot-navigator li a {
    color: #000;
    text-decoration: none;
    line-height: 24px;
    font-weight: 400;
}
.foot-navigator p {
    line-height: 24px;
    padding-bottom: 21px;
}
.link {
    position: absolute;
    bottom: 0;
}
.link a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.link img {
    vertical-align: bottom;
}
.social-media {
    display: grid;
    gap: 110px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1122px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 52px auto;
}
.social-media > div span{
    padding: 0;
}
.social-media img {
    padding: 0 13px;
}
.copyright small {
    float: right;
}


@media screen and (min-width: 769px) and (max-width: 1125px) {
    .navbar {
        padding: 12px;
    }
    .navbar li {
        padding: 0 5px;
    }
    .navbar li a {
        font-size: 10px;
    }
    .navbar .log a {
        padding: 8px 22px;
    }
    .presentation {
        padding: 0 0 0 20px !important;
    }
    .header {
        padding: 40px 0;
    }
    .presentation .latest-design a {
        padding: 18px 32px;
    }
    .latest-product {
        padding: 20px;
    }
    .latest-product .card {
        grid-template-columns: repeat(2, 1fr);
    }
    .fashion {
        padding: 20px;
    }
    .newsletter-contain {
        grid-template-columns: auto;
    }
    .foot-navigator {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .social-media {
        text-align: center;
    }
    .copyright small{
        float: none;
    }
}
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    .menu-icon img {
        width: 40px;
    }
    .navbar {
        background-color: rgba(229, 229, 229, 0.52);
        display: none;
        margin-top: 60px;
    }
    .navbar .logo  {
        text-align: center;
        padding: 10px 0;
    }
    .navbar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    .navbar li {
        padding: 10px 0;
    }
    .navbar .log {
        text-align: center;
    }
    .header {
        display: block;
    }
    .presentation {
        font-size: 1rem;
        padding: 20px !important;
        margin-top: 60px;

    }
    .latest-design a {
        padding: 18px 24px !important;
    }
    .latest-product .head-line {
        text-align: center;
        font-size: 25px;
        margin-bottom: 0;
    }
    .latest-product .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding: 25px;
        border-radius: var(--radius_btn);
        margin: 50px auto;
    }
    .fashion {
        display: block;
        padding: 20px;
    }
    .fashion .fashion-img {
        margin: auto;
    }
    .description {
        font-size: 1rem;
    }
    .recommend-head-line {
        font-size: 1.5rem;
    }
    .recommend-gallery {
        flex-direction: column;
    }
    .recommend-gallery .recommend{
        margin: auto;
    }
    .newsletter-contain {
        display: block;
    }
    .newsletter a {
        padding: 18px 24px;
    }
    .newsletter-contain .news-img {
        margin: auto;
    }
    .news-title h1 {
        font-size: 1.2rem;
    }
    .news-title p {
        line-height: 24px;
        margin: 32px 0;
    }
    .foot-navigator {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        gap: 20px;
    }
    .foot-navigator > div {
        margin:  30px auto;
    }
    .social-media {
        grid-template-columns: 100%;
        text-align: center;
    }
    .social-media .copyright small{
        float:none
    }
}